<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=4.0, user-scalable=0" name="viewport">
    <title><%= config.title %></title>
    <meta name="description" content="<%= config.description %>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= config.description %>">
    <meta property="og:title" content="<%= config.title %>">
    <meta property="og:site_name" content="<%= config.title %>">
    <meta property="og:url" content="<%= config.url %>">
    <meta property="og:image" content="<%= config.share_link %>">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="mainfest" href="/mainfest.json">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_707055_4b9og9sc5lx.css">
    <script>
        // 切换暗夜模式，需要在CSS渲染前调整，否则重绘时会闪烁
        document.addEventListener('DOMContentLoaded', function () {
            // 是否需要切换黑夜模式
            let isForceNightTheme = window.location.search.indexOf('theme=night') !== -1
                || window.localStorage.getItem('edeity-theme_theme') === 'night';
            let isForceLightTheme = window.location.search.indexOf('theme=light') !== -1
                || window.localStorage.getItem('edeity-theme_theme') === 'light';
            let hours = new Date().getHours();
            hours = 22;
            var html = document.querySelector('html')
            if (isForceNightTheme) {
                html.classList.add('night');
            } else if (isForceLightTheme) {
                html.classList.remove('night');
            } else {
                // 没有强制开关，用时间计算
                if (hours < 8 || hours >= 20) {
                    html.classList.add('night');
                } else {
                    html.classList.remove('night');
                }
            }
            // 是否需要隐藏左侧导航栏
            if (document.querySelector('ol.toc') !== null) {
                var bar = document.querySelector('#nav-bar')
                bar.style.cssText = 'display: block'
            }
        });
    </script>
</head>

